@model ComicsMore.Models.EditViewModel

@{
    ViewBag.Title = "Account Settings";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("EditProfile", "Profile", FormMethod.Post, htmlAttributes: new { name = Model.UserName, enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="col-md-2 control-label">Profile Image</label>
                    <div class="col-md-10">
                        <img src="@Model.ProfileImage" class="img-rounded"
                             alt="" width="150" height="150" />
                    </div>
                    <div class="col-md-offset-2 col col-md-10">
                        <input type="file" name="file" id="file" class="btn btn-default" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nickname: </label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.About, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.About, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a href="@Url.Action("Delete")">
                            <input type="button" value="Delete profile" class="btn btn-danger" />
                        </a>
                    </div>
                </div>
            }
        </section>
    </div>
</div>
@Scripts.Render("~/bundles/cloudinary")
@Styles.Render("~/bundles/bootstrap")
<script>
    $.cloudinary.config("cloud_name", "your_cloud_name");
</script>