@model ComicsMore.Models.UserViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = Model.Profile.UserName;
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm(new { @class = "form-horizontal", role = "form" }))
            {
                <div class="form-group">
                    <div class="col-md-4">
                        <img src="@Model.Profile.ProfileImage" class="img-rounded"
                             alt="" width="200" height="200" />
                    </div>
                </div>
                <div class="form-group">
                    <p class="col-md-6">@Model.Profile.About</p>
                </div>
                if ((User.Identity.GetUserId() == Model.Profile.Id) || (User.IsInRole("Admin")))
                {
                    <div class="form-group">
                        @*TODO: Move button down.*@
                        <div class="col-md-2">
                            <a href="@Url.Action("EditProfile", new { id = Model.Profile.UserName })">
                                <input type="button" value="Edit profile" class="btn btn-info" />
                            </a>
                        </div>
                    </div>

                }

            }


        </section>
    </div>
</div>
<div id="comments-block">
    <div id="add-comment">
        <form id="comment-form" method="post" action="">
            <label for="comment-for">Comments</label>
            <textarea class="form-control" name="Body" placeholder="Write your comment"></textarea>
            @*<a href="@Url.Action("AddComment", new { id = Model.Id)">*@
            <input type="submit" value=@Resources.Global.AddComment class="btn btn-default" />
            @*</a>*@
        </form>
    </div>
    @if (Model.Comments != null)
    {
        foreach (var comment in Model.Comments.Reverse())
        {
            <div class="comment">

                @Html.ActionLink(comment.Author.UserName, "UserProfile")
                @* Compare ids*@
                @if ((User.Identity.Name == comment.Author.UserName) || (User.IsInRole("Admin")))
                {
                    @*@Html.ActionLink("Delete", "DeleteComment", "Profile", new { commentId = comment.Id }, new { @class = "comment-delete" })*@
                    @*<a class="comment-delete" href="" comment-id="@comment.Id">Delete</a>*@
                    <button class="comment-delete btn btn-default" comment-id="@comment.Id">&#10005;</button>
                }
                <p>@comment.Body</p>
                <p>@comment.Time.ToString("dd MMMM") at @comment.Time.ToString("h:mm tt").ToLower()</p>
            </div>
        }
    }
</div>
@Styles.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/app-script")